@model Customer
@{ ViewBag.Title = "Delete Customer"; }


product.productName + "  updated Succesfully";
<h1>Remove Customer</h1>
<h2>Confirm Deletion</h2>
<h3>@Model.customerFirstName @Model.customerLastName (customer ID : @Model.customerId)</h3>
<form asp-action="Delete" method="post">



    <input type="hidden" asp-for="customerId" />
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Customer" asp-action="list" class="btn btn-primary">Cancel</a>

</form>